.home {
  //! Experiment
  height: 100vh;
  width: 100vw;

  &__content {
    //! infinite scroll effect
    overflow-y: scroll;
    scrollbar-width: none; //* hide scrollbar in firefox
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
