:root {
  --color-icon: #b0b3b8;
  --color-header-bg: rgba(36, 37, 38);
  --color-bg: rgba(24, 25, 26, 1);

  --color-bg-light: rgba(255, 255, 255, 0.1);
  --color-bg-hover: rgba(255, 255, 255, 0.2);
  --color-text: rgba(255, 255, 255, 0.8);
  --color-fb: #2374e1;
}
