.home {
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 30rem 75rem 1fr;

  &__content {
    //! infinite scroll effect
    overflow-y: scroll;
    scrollbar-width: none; //* hide scrollbar in firefox
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.profile {
  grid-column: 1 / -1;
}

.header {
  grid-column: 1 / -1;
}
.sidebar {
}
